<ion-content>
  <div class="container">
    <ion-accordion-group [multiple]="true" [value]="openState">
      <!-- Summary -->
      <ion-accordion value="summary" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>0</div></div>
          </div>
          <ion-label>Summary</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            In order to invest in Team 9 arbitrage, you need to stake
            <em>NAS</em>. You can get <em>NAS</em> buy swapping
            <em>FETH</em> (FakeETH).
          </p>
          <p>
            We offer new investors a free amount of <em>FETH</em> (step 1: Mint
            FETH). After minting you can swap your <em>FETH</em> for some
            <em>NAS</em>.
          </p>
          <p>
            You can then stake your <em>NAS</em> for a share of the profits.
          </p>
        </div>
      </ion-accordion>

      <!-- Summary -->
      <ion-accordion value="overview" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>0</div></div>
          </div>
          <ion-label>How to invest</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="image">
            <img src="assets/solution.png" />
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
