<ion-content>
  <div class="container">
    <ion-accordion-group [multiple]="true" [value]="openState">
      <!-- Summary -->
      <ion-accordion value="summary" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>0</div></div>
          </div>
          <ion-label>TL;DR</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            So you're completely <em>clueless</em> about technology, finance, and have no money to start with? Good news, you’re our <em>ideal candidate</em> to join our club! Introducing our <em>exclusive arbitrage program</em>, a golden opportunity for you to <em>become filthy rich</em> without having to lift a finger.
          </p>
          <p>
            All you need to do is join our program and sit back while our <em>highly sophisticated, AI-powered algorithms</em> do all the work for you. For a <em>limited time only</em>, you can participate for <em>free</em> by minting <em>FETH</em> and swapping it for our precious <em>NAS</em> token. You can then stake this token in our investor pool, which funds our arbitrage machine and earns you a <em>proportional share</em> of any profits made.
          </p>
          <p>
            And the best part? The <em>more people you invite</em> to join our scheme, the <em>more imbalances we can create</em> and extract arbitrage from the pools. So go ahead and invite your friends, because this is truly <em>a once in a lifetime chance</em> to become incredibly wealthy (or to lose all your money, but hey, let's stay positive!).
          </p>
        </div>
      </ion-accordion>

      <!-- Full schema -->
      <ion-accordion value="first" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>1</div></div>
          </div>
          <ion-label>Not-A-Scam schema</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="image">
            <img src="assets/fullschema.png" />
          </div>
        </div>
      </ion-accordion>

      <!-- How to invest -->
      <ion-accordion value="second" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>2</div></div>
          </div>
          <ion-label>How to invest</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="image">
            <img src="assets/mint.png" />
          </div>
          <div class="image">
            <img src="assets/buy.png" />
          </div>
          <div class="image">
            <img src="assets/stake.png" />
          </div>
        </div>
      </ion-accordion>

      <!-- How to withdraw claim your profits -->
      <ion-accordion value="third" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>3</div></div>
          </div>
          <ion-label>How to claim your profits</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="image">
            <img src="assets/withdraw.png" />
          </div>
        </div>
      </ion-accordion>

      <!-- Arbitrage algorithm -->
      <ion-accordion value="fourth" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>4</div></div>
          </div>
          <ion-label>Arbitrage Under the Hood</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="image">
            <img src="assets/profitability.png" />
          </div>
          <div class="image">
            <img src="assets/arbitrage.png" />
          </div>
        </div>
      </ion-accordion>

    </ion-accordion-group>
  </div>
</ion-content>
