<ion-content>
  <div class="container">
    <ion-accordion-group [multiple]="true" [value]="openState">
      <!-- Summary -->
      <ion-accordion value="overview" toggleIconSlot="start">
        <ion-item slot="header">
          <ion-label>Overview</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="overview">
            <ion-card class="chart">
              <ion-card-header>
                <ion-card-title>TVL vs Fees Generated</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div
                  echarts
                  [options]="totalProfits"
                  class="chart-container"
                ></div>
              </ion-card-content>
            </ion-card>
            <ion-card class="chart">
              <ion-card-header>
                <ion-card-title>Uniswap Pool Balance</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div
                  echarts
                  [options]="totalProfits"
                  class="chart-container"
                ></div>
              </ion-card-content>
            </ion-card>
            <ion-card class="chart">
              <ion-card-header>
                <ion-card-title>Sushiswap Pool Balance</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div
                  echarts
                  [options]="totalProfits"
                  class="chart-container"
                ></div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-accordion>

      <ion-accordion value="history" toggleIconSlot="start">
        <ion-item slot="header">
          <ion-label>Arbitrage Transaction History</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="history">
            <div class="history-item" *ngFor="let item of history">
              <ion-card class="chart">
                <ion-card-header>
                  <ion-card-title>{{ item.hash }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="history-item-content">
                    <!-- <div
                      echarts
                      [options]="totalProfits"
                      class="chart-container"
                    ></div> -->
                    <div class="stats">
                      <div>
                        <div class="title">Date:</div>
                        <div class="value">{{ item.date.toISOString() }}</div>
                      </div>
                      <div>
                        <div class="title">Funds used:</div>
                        <div class="value">{{ item.used }} <em>NAS</em></div>
                      </div>
                      <div>
                        <div class="title">Fees generated:</div>
                        <div class="value">{{ item.profits }} <em>NAS</em></div>
                      </div>
                      <div>
                        <div class="title">Bought from:</div>
                        <div class="value"><em>{{ item.pool0 }}</em></div>
                      </div>
                      <div>
                        <div class="title">Sold to:</div>
                        <div class="value"><em>{{ item.pool1 }}</em></div>
                      </div>
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
