<ion-content>
  <div class="container">
    <ion-accordion-group [multiple]="true" [value]="openState">
      <!-- Summary -->
      <ion-accordion
        value="summary"
        toggleIconSlot="start"
        [class.done]="alreadyMinted"
      >
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>0</div></div>
          </div>
          <ion-label>How to invest</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            In order to invest in Team 9 arbitrage, you need to stake
            <em>NAS</em>. You can get <em>NAS</em> buy swapping
            <em>FETH</em> (FakeETH).
          </p>
          <p>
            We offer new investors a free amount of <em>FETH</em> (step 1: Mint
            FETH). After minting you can swap your <em>FETH</em> for some
            <em>NAS</em>.
          </p>
          <p>
            You can then stake your <em>NAS</em> for a share of the profits.
          </p>
        </div>
      </ion-accordion>

      <!-- Mint -->
      <ion-accordion
        value="mint"
        toggleIconSlot="start"
        [class.done]="alreadyMinted"
      >
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>1</div></div>
          </div>
          <ion-label
            >Mint <span style="text-transform: none">Fake</span>ETH
            (FETH)</ion-label
          >
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            Use this faucet to get <em>50.0 free FETH</em>. You can only claim this faucet <em>once</em>.
          </p>
          <div class="buttons">
            <ion-button
              color="primary"
              (click)="mint()"
              [disabled]="!userInfo || alreadyMinted"
            >
              <ion-label *ngIf="!loadingMint">Mint FETH</ion-label>
              <ion-spinner *ngIf="loadingMint" name="crescent"></ion-spinner>
            </ion-button>
          </div>
        </div>
      </ion-accordion>

      <!-- SWAP -->
      <ion-accordion value="swap" toggleIconSlot="start">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>2</div></div>
          </div>
          <ion-label>Swap FETH for NAS</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p>
            Swap your <em>FETH</em> for some <em>NAS</em>. We automatically
            route you to the best price using either <em>Uniswap</em> pool or
            <em>Sushiswap</em> pool.
          </p>
          <div class="swap-container">
            <div class="inputs">
              <ion-label class="balance"
                >FETH Balance
                <em *ngIf="userInfo">
                  {{ userInfo.feth | toETH }}</em
                ></ion-label
              >
              <ion-label class="balance"
                >NAS Balance
                <em *ngIf="userInfo">
                  {{ userInfo.nas | toETH }}</em
                ></ion-label
              >
              <ion-input
                label="FETH"
                placeholder="0"
                [(ngModel)]="amountIn"
                (input)="onAmountChange()"
              ></ion-input>
              <ion-input
                label="NAS"
                placeholder="0"
                fill="outline"
                disabled
                [ngModel]="amountOut"
              ></ion-input>
              <ion-button (click)="swap()" [disabled]="!userInfo">
                <ion-label *ngIf="!loadingSwap">Approve & Swap</ion-label>
                <ion-spinner *ngIf="loadingSwap" name="crescent"></ion-spinner>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-accordion>

      <!-- Stake -->
      <ion-accordion value="invest" toggleIconSlot="start" class="important">
        <ion-item slot="header">
          <div class="timeline-step">
            <div class="hexagon"><div>3</div></div>
          </div>
          <ion-label>Stake Your NAS to get a share of fees</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" class="invest-container">
          <div class="invest-infos">
            <ion-card>
              <ion-card-header>
                <ion-card-title
                  >Your Stake</ion-card-title
                >
              </ion-card-header>
              <ion-card-content>
                  <div *ngIf="userInfo">
                    Active: {{ userInfo.activeStaked |toETH }} | Lifetime: {{ userInfo.staked |toETH }} <em>NAS</em>
                  </div>
                <div class="inputs">
                  <ion-input
                    label="NAS"
                    placeholder="ENTER AMOUNT"
                    [(ngModel)]="stakeAmount"
                  ></ion-input>
                </div>
                <ion-button (click)="stake()" [disabled]="!userInfo">
                  <ion-label *ngIf="!loadingStake">Stake</ion-label>
                  <ion-spinner *ngIf="loadingStake" name="crescent"></ion-spinner>
                </ion-button>
              </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-card-header>
                <ion-card-title>Your Profits</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div *ngIf="userInfo">
                  <div>Active: {{ userInfo.activeProfits | toETH }} <em>NAS</em></div>
                  <div>Lifetime: {{ userInfo.totalProfits | toETH }} <em>NAS</em></div>
                </div>
                <div></div>
                <ion-button (click)="claimProfits()" [disabled]="!userInfo">
                  <ion-label *ngIf="!loadingProfits">Claim your profits</ion-label>
                  <ion-spinner *ngIf="loadingProfits" name="crescent"></ion-spinner>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="charts">
            <ion-card class="chart">
              <ion-card-header>
                <ion-card-title>Your Share of Current Stake</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div
                  echarts
                  [options]="currentPosition"
                  class="chart-container"
                ></div>
              </ion-card-content>
            </ion-card>

            <ion-card class="chart">
              <ion-card-header>
                <ion-card-title
                  >Your Lifetime Profits</ion-card-title
                >
              </ion-card-header>
              <ion-card-content>
                <div
                  echarts
                  [options]="totalProfits"
                  class="chart-container"
                ></div>
              </ion-card-content>
            </ion-card>
          </div>
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Withdraw Your Stake</ion-card-title
                >
              </ion-card-header>
              <ion-card-content>
                <div *ngIf="userInfo">
                  Active stake: {{ userInfo.activeStaked | toETH }} <em>NAS</em> | 
                </div>
                <div *ngIf="userInfo">
                  Locked until: {{ userInfo.locktime | date: 'dd/MM/yyyy
                  HH:mm:ss'}}
                </div>
                <div class="withdraw-inputs">
                  <ion-input
                    label="NAS"
                    placeholder="ENTER AMOUNT"
                    [(ngModel)]="withdrawAmount"
                  ></ion-input>
                </div>
                <ion-button (click)="withdrawStake()" [disabled]="!userInfo">
                  <ion-label *ngIf="!loadingWithdraw">Withdraw</ion-label>
                  <ion-spinner *ngIf="loadingWithdraw" name="crescent"></ion-spinner>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
