<ion-content>
  <div class="content">
    <div class="section" id="home">
      <div class="block">
        <div class="block-content">
          <p class="name"><img width=200 src="assets/logo.png">Welcome to <em>Arby</em></p>
          <p class="subtext">
            Your place to learn about arbitrage and enjoy some of the profits !
          </p>
          <p>
            So you're completely <em>clueless</em> about technology, finance, and have no money to start with? Good news, you’re our <em>ideal candidate</em> to join our club! Introducing our <em>exclusive arbitrage program</em>, a golden opportunity for you to <em>become filthy rich</em> by letting our <em>highly sophisticated algorithms</em> do the work for you.
          </p>
          <p>
            We use <em>AI</em> to extract the best
            <em>arbitrage</em> opportunity and share the profits with
            <em>you</em>! Using a set of algorithms that listen to arbitrage
            opportunities between <em>Uniswap</em> and <em>Sushiswap</em> pools
            and run a smartcontract to make the pools balanced
            <em>as everything should be</em>.
          </p>
          <div class="image">
            <ion-card class="chart">
              <ion-card-header>
                <ion-card-title
                  >Lifetime Investment and Profits</ion-card-title
                >
              </ion-card-header>
              <ion-card-content>
                <div
                  echarts
                  [options]="chartOptions"
                  class="chart-container"
                ></div>
              </ion-card-content>
            </ion-card>
            <div class="stats">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Lifetime Return on Investment</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div *ngIf="arbitrage">
                    {{ arbitrage.totalReturn }} %
                  </div>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Total Value Locked</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div *ngIf="arbitrage">
                    {{ arbitrage.totalStaked | toETH }} <em>NAS</em>
                  </div>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Total Profits Generated</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div *ngIf="arbitrage">
                    {{ arbitrage.totalProfits | toETH }} <em>NAS</em>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>

          <div class="buttons">
            <ion-button fill="clear" (click)="goTo('about')"
              >How it works ?</ion-button
            >
            <ion-button fill="clear" (click)="goTo('invest')"
              >Invest</ion-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
