.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   padding: 24px 8px;
  color: var(--ion-color-white-shade);
  text-align: justify;
  em {
    color: var(--ion-color-primary);
    font-style: normal;
  }
  q {
    color: var(--ion-color-primary);
    font-style: italic;
  }
  .section {
    padding: 8px 10%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      color: var(--ion-color-white);
      font-size: 20px;
    }
    .block {
      display: flex;
      // margin-bottom: 24px;
      .sub-title {
        color: var(--ion-color-white);
        font-size: 18px;
        margin-right: 8px;
      }
      p {
        padding: 8px;
        margin: 0px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
#home {
  .name {
    color: var(--ion-color-white);
    font-size: 60px;
    line-height: normal;
    font-variant: bold;
  }
  .subtext {
    font-size: 30px;
    line-height: normal;
  }

  @media (max-width: 576px) {
    // word-break: break-all;
    .name {
      font-size: 40px;
    }
    .subtext {
      font-size: 25px;
    }
  }

  .image {
    display: flex;
    margin-top: 32px;
    .chart {
      flex: 1;
      .chart-container {
        min-width: 300px;
        min-height: 300px;
      }
    }
    .stats {
      display: flex;
      flex-direction: column;
      flex: 1;
      & > * {
        flex: 1;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    & > * {
      flex: 1;
    }
  }
}

ion-card {
  --background: var(--ion-background-color-lighter);
  --color: var(--ion-color-white);
  ion-card-title {
    text-align: center;
    --color: var(--ion-color-white);
    font-size: 16px;
  }
  ion-card-content {
    text-align: center;
  }
}
